<div class="landing-page columns is-mobile is-centered">
  <div class="column is-3 is-centered mt-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'box has-text-centered'}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 class="title is-3">Sign Up</h2>
      <div class="field">
        <div class="control">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>      
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>      
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'button is-primary' %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>